
/*------ CSS Reset -   -----*/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*------- Main styling, this section lays down ther foundations for the main structure of the content ----*/

body {
    background: #415059;
    color: #3d3d3d;
    font-family: baskerville-urw, serif;
    }

section, header, footer { 
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 3em;}

section{
    margin-bottom: 10rem;
    padding:3em 3em 3em 3em;
}



.light {background: white;
margin: 0em 0em 0em 0em;
}

.light p {color:#415059}

.profile{
   display:inline-flex;
   padding: 0;
   max-width: 100%;
   border-radius: 10px;
 width: 400px;
 height:600px;
 align-items: center;
 text-align:center;
}

.skillshare p{
    text-align:left;
    display: flex;
    padding:2em;
    overflow-wrap:break-word;
}

.h{
    width:80%;
    height:7px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: 90px;
 background-color:#FFFCE4;
}


header p {
    color:#DDA355;

}

header h2{
    color: #DDA355;
}

.light {
    background: FF8282;
    padding: 5rem }
    
.light h2 {color: #333}

.gridimage {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin: 50px;

}

.across{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin: 100px;
}

.box {
    inline-size: 150px; 
    overflow: hidden;
  }
   
/*---- TYPOGRAPHY ----*/

p {font-family:neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;} 

header h1, h2, p {
    color:  #FFFCE4;
    padding: 4rem 4rem 4rem 4rem;
    font-weight: normal;
margin-top: 2rem;
}

h1{
        font-family: funkydori, sans-serif;
font-weight: 400;
font-style: normal;
text-align: left;
    }
header h2 {
    font-style: italic;
    font-weight: normal;
    font-size: 2.827rem;
    color:  #FFFCE4;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-indent: 1.5rem;}

header p {
    font-size: 1.3em;
    padding-bottom: 4rem;
    color:  #FFFCE4;
}

h1, h2, h3 {
    font-weight: normal;
    color: #FFFCE4;
}

p, blockquote {
    padding: 1rem 0;
    line-height: 1.4;
    color: #FFFCE4;
    text-align: center;

}

h1 {
    font-size: 5.653rem;
    margin-top: 4rem;
    padding-bottom: 0;
    margin: 50px;
    
}

h2 {
    font-size: 1.999rem;
    margin: 3rem 0 1rem 0;
padding: 5em, 5em, 5em, 5em;
margin-top:2rem;
}

p{
    text-align: left;
    margin:50px;
}

blockquote {
    font-style: italic;
    font-size: 1.999rem;
    color:#FFFCE4;
    hanging-punctuation: first;
    text-indent: -0.75rem;
    text-align: center;

}

blockquote cite {
    font-style: normal;
    font-size: 1rem;
    color: #FFE589;}



/*--- STYLING LINKS ---*/
a {
    color: #415059;
    text-decoration: none;}

a:visited {
    color: #858585;}

a:hover {
    color: #EA0056;
    border-bottom: 1px dotted;}

/*--- NAVIGATION ---*/

    nav {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        background: #415059;
        padding:0.5em;
        font-size: 0.75rem;
    
    }

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;}

nav a {color: #c6c6c6;}

nav a:visited {
    color: #DDA355;
}

#top{
    align-items: center;
    padding: 1em;
    margin:1em;
}

.writing h1 {
text-align: center;
color:#415059;
}

ol h1{
    color:#FFFCE4;
    text-align:center;

}

ol li{
    color:#FFFCE4;
    text-align:left;
}

nav a:hover {
    border-bottom: none;
    color:#FF8282;
    transition: all 0.3s ease-in-out;}

/*----- IMAGES -----*/
img {
    display: block;
    margin: 5em 0;
    padding: 0em;
    max-width: 100%;
}

.element {
    filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.2));
  }

.business {
    margin-left: 15em;
    float:right;
    padding-right: 5em;
    width: 400px;
    margin-top: 5em;
}

.education{
    margin-left: 15em;
    float:left;
    padding-right:20px;
    width: 400px;
    margin-top: 0.5em;
}

.pencil {
    max-width: 80%;
    padding:0rem;
    margin:0rem;
}

.line-3{
    height: 1px;
    border: 0;
    background: #FFFCE4;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 100%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }

#dropshadow {
        box-shadow: 0 8px 6px -6px black;
     
}



/*--- FOOTER ---*/
footer {
    text-align: center;
    font-size: 0.8em;
    padding: 2em 0 8em 0;
    margin: auto;
    margin-top: 50px;
    }

  footer {
      color: #ffffff;
  }
footer p {color: #DDA355;}



@media only screen and (max-width: 2000px) {
   
    
      }

@media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 480px) {
 

   p {font-size: 1.2rem}
    h1 {font-size: 3.5rem}
    header h2 {font-size: 1.75rem}
    }
    section, header, footer { 
        width: 95%;
        margin: auto;
        padding: 0}

       


        .column {
            float:right;
            width: 50%;
            column-gap: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin: 2rem;

            }
        
            .row:after {
                margin-top: 2rem;
                margin-bottom: 2rem;
                margin: 2rem;
            display: block;
            clear: both;
            } 



          